.product {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    border-color: var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: var(--tg-theme-button-color);
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 0.8rem;
}

.add-btn {
    width: 100%;
}